h1,h2{
    text-align: center;
}

#blog_container, .section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#skills{
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#skills li{
    margin: 1.5em;
}

table{
    display: flex;
    flex-flow: wrap;
    margin: 1em;
    text-align: center;
    vertical-align: top;
    width: 150%;
}

tr:hover{
    background-color: rgb(22, 29, 28);
}

th,td{
    padding: .5em 1em .5em;
}

.selected {
    background-color: aquarium;
    color: magenta;
}

/* smart phones*/
@media screen and(max-width:767px){
    #blog_container{
        width: 80%;
        margin: auto;
    }
    #skills{
        display: flex;
        flex-flow: column wrap;
    }
    section{
        display: flex;
        flex-flow: column wrap;
    }
    table{
        width: 80%;
        margin: auto;
    }
    th,td{
        padding: 0em 0em 0em;
        margin: auto;
    }
}